@font-face {
    font-family: "Agenda";
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/Agenda-Light.otf");
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/agendaLight.eot");
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/agendaLight.woff");
}
@font-face {
    font-family: "Agenda Medium";
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/Agenda-Medium.otf");
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/agendaMedium.eot");
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/agendaMedium.woff");
}
@font-face {
    font-family: 'Agenda Regular';
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/Agenda-Regular.otf");
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/agendaNormal.eot");
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/agendaNormal.woff");
}
@font-face {
    font-family: 'Agenda Bold';
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/Agenda-Bold.otf");
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/agendaBold.eot");
    src: url("https://maria-kolisnyk.github.io/assets/fonts/Agenda/agendaBold.woff");
}

/*Header*/
.Header{
    background-color: #0040bb;
}
img.trovBlue{
    height: 51px;
    width: 197px;
    object-fit: contain;
    content: url(https://maria-kolisnyk.github.io/assets/images/logo/logo-renters-by-halifax.png);
    content: -webkit-image-set(url(https://maria-kolisnyk.github.io/assets/images/logo/logo-renters-by-halifax.png) 1x,
            url(https://maria-kolisnyk.github.io/assets/images/logo/logo-renters-by-halifax@2x.png) 2x,
            url(https://maria-kolisnyk.github.io/assets/images/logo/logo-renters-by-halifax@3x.png) 3x);
    content: image-set(url(https://maria-kolisnyk.github.io/assets/images/logo/logo-renters-by-halifax.png) 1x,
            url(https://maria-kolisnyk.github.io/assets/images/logo/logo-renters-by-halifax@2x.png) 2x,
            url(https://maria-kolisnyk.github.io/assets/images/logo/logo-renters-by-halifax@3x.png) 3x);
}

/*Footer*/
.footer-bar{
    background-color: #00287c;
    background-image: none;
}
.copyright-text{
    display: none
}

/*Page*/
.account-page{
    top: 0;
    margin-top: 100px;
    padding-top: 40px;
}

/*Notification*/
.close-button-icon{
    max-width: 10px;
}
.message-title{
    font-size: 20px;
    font-family: 'Agenda Bold',sans-serif;
    line-height: 30px;
    font-weight: normal;
}
.message-container{
    padding-top: 20px;
}
.message{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Agenda Regular',sans-serif;
}

/*Form*/
.form-header{
    width: auto;
    height: auto;
    font-family: 'Agenda Regular',sans-serif;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 25px;
    margin-top: 0;
}
label{
    margin-bottom: 10px;
}
.form-group label{
    font-family: 'Agenda Bold',sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #323233;
}
.form-group input.inputbox {
    font-family: 'Agenda Regular',sans-serif;
}
.form-group input.inputbox{
    font-size: 20px;
    border-radius: 0;
}

/*Login form*/
.login-form{
    border-radius: 0;
    padding: 40px 30px 60px;
}
.forgot-link, .login-button-text{
    font-family: 'Agenda Bold',sans-serif;
    font-weight: normal;
}
.forgot-link{
    font-size: 16px;
    line-height: 24px;
    color: #0040bb;
}
.forgot-lnk-container{
    float: right;
    width: auto;
}
.Remember-me, .sign-up-link{
    font-family: 'Agenda Regular',sans-serif;
    font-size: 16px;
}
.sign-up{
    display: none;
}
.Remember-me{
    color: #323233;
}
.button, .login-button{
    border-radius: 0;
    background-color: #970074;
    font-size: 20px;
    width: 100%;
    max-width: 360px;
    box-shadow: none;
    padding-top: 0;
    line-height: 60px;
}
.login-button-text{
    text-transform: none;
}
@media screen and (max-width: 699px){
    .login-form{
        max-width: 340px;
    }
    .button, .login-button {
        max-width: 280px;
    }
    .form-group{
        max-width: 100%;
    }
    .form-group input.inputbox{
        max-width: 100%;
    }
}