/*changed styles*/
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
.account-page{
    position: relative;
    top: 0;
    margin-top: 100px;
    padding: 50px 15px;
}
.form-header{
    width: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 27px;
}
.copyright-text{
    position: relative;
    bottom: auto;
}
.footer-bar{
    height: auto;
    padding: 95px 30px;
    color: #ffffff;
    font-family: GalanoGrotesque, sans-serif;
    position: relative;
}
.login-button{
    max-width: 244px;
    margin: auto;
}
.login-button-text{
    height: auto;
    margin: 0;
}
.login-form{
    padding: 40px 125px 60px;
}
.login-form > .row{
    display: none;
}
.form-group{
    margin-bottom: 22px;
    width: auto;
}
.form-group label{
    font-size: 14px;
    line-height: 21px;
    height: auto;
}
.form > .row{
    margin: 0;
}

#lblRememberLogin input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}
.Remember-me {
    position: relative;
    padding: 0 0 0 26px;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    height: auto;
}
.Remember-me:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fafafa;
    border: solid 1px #bfbfbf;
    transition: .2s;
}
.Remember-me:after {
    content: '\e013';
    position: absolute;
    top: 0;
    left: 1px;
    font-family: 'Glyphicons Halflings';
    color: #FFF;
    display: none;
    transition: .2s;
}
#lblRememberLogin input:checked + .Remember-me:before {
    background: #0093dc;
}
#lblRememberLogin input:checked + .Remember-me:after {
    display: block;
}


/*footer styles*/
.footer-container{
    width: 922px;
    margin: auto;
    max-width: 100%;
}
.footer-bar ul{
    list-style: none;
    padding: 0;
}
.footer-bar li{
    font-size: 16px;
    line-height: 30px;
}

.footer-bar a{
    color: #ffffff;
    text-decoration: none;
}
.footer-bar a.underline{
    text-decoration: underline;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}
.footer-top h5{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 0;
    letter-spacing: 4px;
}
.footer-bottom{
    padding-top: 30px;
    border-top: 1px solid #ffffff;
}
.footer-bottom p{
    font-size: 12px;
    line-height: 25px;
}
.social{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.social ul{
    display: flex;
    margin-bottom: 0;
}
.social li{
    padding: 0 8px;
}
.form-group input.inputbox{
    width: 100%;
}
.forgot-lnk-container{
    width: auto;
    float: right;
}
.Header{
    left: 0;
}
.forgot-password-form{
    padding: 40px 75px 60px;
    height: auto;
}
.hint-text{
    height: auto;
    width: auto;
    margin-bottom: 25px;
}
.forgot-password-form .form-group{
    width: 360px;
    max-width: 100%;
}
.forgot-passwrod-button-text{
    height: auto;
}
#lblUsername{
    color: transparent;
    height: 21px;
    padding-top: 21px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#lblUsername:before{
    content: 'Email Address';
    color: #505050;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 699px){
    .footer-bar{
        padding: 50px 30px 60px;
    }
    .footer-top{
        flex-wrap: wrap;
        padding-bottom: 5px;
    }
    .footer-top div:nth-child(2){
        width: 110px;
    }
    .footer-top h5{
        font-size: 12px;
        margin-bottom: 14px;
        letter-spacing: 3px;
    }
    .footer-bar ul{
        margin-bottom: 50px;
    }
    .social{
        flex-direction: column-reverse;
    }
    .social ul{
        margin-bottom: 0;
    }
    .forgot-password-form{
        width: 340px;
        max-width: 100%;
        padding: 25px 20px 40px;
    }
    .login-form{
        margin: 0 auto;
        padding: 20px 30px 40px;
        width: 340px;
        max-width: 100%;
    }
    .form-group{
        margin-bottom: 15px;
    }
    .hint-text{
        font-size: 14px;
        line-height: 21px;
    }
    .forgot-passwrod-button{
        width: 100%;
    }
}