/*changed styles*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.account-page {
    position: relative;
    top: 0;
    margin-top: 100px;
    padding: 50px 0;
}

.form-header {
    width: auto;
    height: auto;
    margin-top: 0;
    margin-bottom: 27px;
}

.copyright-text {
    position: relative;
    bottom: auto;
}

.footer-bar {
    height: auto;
    padding: 95px 30px;
    color: #ffffff;
    font-family: GalanoGrotesque, sans-serif;
    position: relative;
    z-index: 1;
}

.login-button {
    width: 244px;
    max-width: 100%;
    margin: auto;
}

.login-button-text {
    height: auto;
    margin: 0;
}

.login-form {
    padding: 40px 125px 60px;
}

.login-form>.row {
    display: none;
}

.form-group {
    margin-bottom: 22px;
    width: auto;
}

.form-group label {
    font-size: 14px;
    line-height: 21px;
    height: auto;
    outline: none;
}

.form>.row {
    margin: 0;
}

#lblRememberLogin input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

::-ms-clear,
::-ms-reveal {
    display: none;
}

.Remember-me {
    position: relative;
    padding: 0 0 0 26px;
    cursor: pointer;
    font-size: 14px;
    line-height: 21px;
    height: auto;
}

.Remember-me:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: #fafafa;
    border: solid 1px #bfbfbf;
    transition: .2s;
}

.Remember-me:after {
    content: '';
    display: none;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 6px;
    top: 5px;
}

#lblRememberLogin input:checked+.Remember-me:before {
    background: #0093dc;
}

#lblRememberLogin input:checked+.Remember-me:after {
    display: block;
}

.footer-container {
    width: 922px;
    margin: auto;
    max-width: 100%;
}

.footer-bar ul {
    list-style: none;
    padding: 0;
}

.footer-bar li {
    font-size: 16px;
    line-height: 30px;
}

.footer-bar a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bar a.underline {
    text-decoration: underline;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}

.footer-top h5 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: 0;
    letter-spacing: 4px;
}

.footer-bottom {
    padding-top: 30px;
    border-top: 1px solid #ffffff;
}

.footer-bottom p {
    font-size: 12px;
    line-height: 25px;
}

.social {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.social ul {
    display: flex;
    margin-bottom: 0;
}

.social li {
    padding: 0 8px;
}

.form-group input.inputbox {
    width: 100%;
}

.forgot-lnk-container {
    width: auto;
    float: right;
}

.Header {
    left: 0;
}

.forgot-password-form {
    padding: 40px 75px 60px;
    height: auto;
}

.hint-text {
    height: auto;
    width: auto;
    margin-bottom: 25px;
}

.forgot-password-form .form-group {
    width: 360px;
    max-width: 100%;
}

.forgot-passwrod-button-text {
    height: auto;
}

#lblUsername {
    color: transparent;
    height: 21px;
    padding-top: 21px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#lblUsername:before {
    content: 'Email Address';
    color: #505050;
    position: absolute;
    top: 0;
    left: 0;
}

.set-password-form {
    height: auto;
}

.set-password-form .form {
    width: 360px;
    max-width: 100%;
    margin: auto;
}

.password-policy {
    width: auto
}

.set-password-button.button {
    max-width: 100%;
}

.set-password-form .set-password-success {
    position: relative;
    height: auto;
    margin: 70px auto;
}

.done {
    text-decoration: line-through;
}

.signedout-form {
    height: auto;
    padding: 50px 20px;
    max-width: 100%;
}

.logout-message {
    padding: 0;
    height: auto;
    margin-bottom: 30px;
}

.form-group input.input-validation-error {
    border-color: #d0021b;
}

.has-error {
    color: #d0021b;
}

.forgot-password-form .spinner-icon {
    width: 22px;
    margin: 0 auto;
}

.forgot-password-form .validation-error {
    margin-top: 10px;
    display: block;
    padding-left: 30px;
}

.forgot-password-form .form-group {
    position: relative;
}

.forgot-password-form .error-icon {
    position: absolute;
    top: 58px;
    left: 0;
}

/*Notifications*/
.message-control {
    position: fixed;
    bottom: 80px;
    margin: 0;
    max-width: calc(100% - 12px);
}

.message-window {
    overflow: visible;
    height: auto;
    position: relative;
    bottom: auto;
    box-shadow: none;
}

.message-title {
    height: auto;
    width: auto;
}

.message-container {
    padding: 20px 30px;
    width: 100%;
    float: none;
    position: relative;
}

.message {
    width: auto;
    height: auto;
}

.type-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.type-bar.error {
    box-shadow: 0 10px 25px 0 rgba(208, 2, 27, 0.15);
    border: solid 2px #d0021b;
    background: transparent;
}

.type-bar.info {
    box-shadow: 0 10px 25px 0 rgba(0, 147, 220, 0.15);
    border: solid 2px #0093dc;
    background: transparent;
}

.close-button {
    position: absolute;
    left: auto;
    right: -10px;
    margin: 0;
    bottom: auto;
    top: -10px;
}

.close-button-icon {
    width: 100%;
    height: 100%;
    background-size: 11px;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
}

.Logo {
    line-height: 100px;
}

.button,
.login-button,
.forgot-passwrod-button {
    box-shadow: none;
    padding-top: 0;
    line-height: 60px;
}

.button:hover,
.login-button:hover,
.forgot-passwrod-button:hover {
    background-color: #0077d3;
}

.button:focus,
.login-button:focus,
.forgot-passwrod-button:focus {
    background-color: #0077d3;
    outline-width: 0;
}

.button:active,
.login-button:active,
.forgot-passwrod-button:active {
    background-color: #0077d3;
    box-shadow: none;
    font-size: 16px;
}

input.hidden{
    color: transparent;
}

@media screen and (max-width: 699px) {
    .footer-bar {
        padding: 50px 30px 60px;
    }

    .footer-top {
        flex-wrap: wrap;
        padding-bottom: 5px;
    }

    .footer-top div:nth-child(2) {
        width: 110px;
    }

    .footer-top h5 {
        font-size: 12px;
        margin-bottom: 14px;
        letter-spacing: 3px;
    }

    .footer-bar ul {
        margin-bottom: 50px;
    }

    .social {
        flex-direction: column-reverse;
    }

    .social ul {
        margin-bottom: 0;
    }

    .forgot-password-form {
        width: 340px;
        max-width: 100%;
        padding: 25px 20px 40px;
    }

    .login-form {
        margin: 0 auto;
        padding: 20px 30px 40px;
        width: 340px;
        max-width: 100%;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .hint-text {
        font-size: 14px;
        line-height: 21px;
    }

    .forgot-passwrod-button {
        width: 100%;
    }

    .set-password-form {
        padding: 30px 20px;
        margin: auto;
        box-sizing: border-box;
        width: 340px;
        max-width: 100%;
    }

    .form-header {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .set-password-form .set-password-success {
        position: relative;
        height: auto;
        margin: 50px auto;
    }

    .logout-message {
        width: auto;
    }

    .message-window {
        width: 349px;
        max-width: calc(100% - 10px);
        margin-left: 5px;
        margin-right: 5px;
    }

    .Header {
        height: 80px;
    }

    .account-page {
        margin-top: 80px;
    }

    .trovBlue {
        width: 71px;
        height: 29px;
    }

    .Logo {
        line-height: 80px;
    }
}
